<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="description" content="Copy & Paste 2.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="/js/script.js" defer></script>
    <title>Copy & Paste 2.0</title>
</head>

<body>
    <main>
        <section>
            <h1>Copy & Paste 2.0</h1>
            <p>Een webapplicatie waarmee u tekst kunt kopiëren en plakken met behulp van uw stem.</p>
        </section>
        <section>
            <h2>Gebruiksaanwijzing</h2>
            <p>Spraak tool aan en uit doen: <br>
               Druk op <b>S</b> om de spraak tool te starten. <br>
               Druk op <b>P</b> om de spraak tool te pauzeren. <br><br>
               Spraak gebruiken om te kopiëren en te plakken: <br>
               Selecteer de tekst die u wilt kopiëren en zeg <b>kopiëren</b>. <br>
               Zeg dan <b>plakken</b> om de tekst te plakken.
            </p>
        </section>
        <section>
            <article>
                Het klimaat verandert. 
                De temperatuur op aarde stijgt. 
                Dit komt door de toename van broeikasgassen in de lucht. 
                Klimaatverandering heeft grote gevolgen voor mens, natuur en milieu. 
                Daarom neemt Nederland maatregelen om zich aan te passen aan de gevolgen van klimaatverandering en om verdere klimaatverandering te beperken. 
                Deze maatregelen samen vormen het Nederlandse klimaatbeleid.
            </article>
        </section>
        <section id="paste">
            <h2>Plak tekst hier</h2>
            <p></p>
        </section>
        <section class="message"></section>
    </main>

</body>

</html>