* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.message {
    display: none;
}

.message.show {
    display: block;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    height: 8em;
}

section:nth-of-type(1) {
    display: grid;
    grid-area: 1 / 1 / 1 / 3;
    border-radius: 10px;
    padding: 2em;
    background-color: rgb(168, 248, 168);
    margin: 1em 0 1em 1em;
    justify-self: stretch;
}

section:nth-of-type(2) {
    grid-area: 2 / 1 / 2 / 3;
    background-color: rgb(131, 241, 131);
    padding: 5%;
    border-radius: 10px;
    margin: 0 0 0 1em;
}

section:nth-of-type(3) {
    grid-area: 1 / 3 / 3 / 5;
    background-color: rgb(93, 172, 93);
    color: white;
    padding: 5%;
    border-radius: 10px;
    margin: 1em 1em 0 1em;
}

section:nth-of-type(4) {
    grid-area: 4 / 1 / 3/ 5;
    border-width: .1em;
    border-color: rgb(26, 109, 26);
    border-style: solid;
    padding: 5%;
    border-radius: 10px;
    margin: 1em 1em 1em 1em;
}

input[type=text] {
    width: 325px;
    height: 30px;
    border: none;
    border-radius: 50px;
    margin-bottom: 2%;
    padding: 5%;
}

input[type=text]:focus {
    outline: 3px solid rgb(30, 90, 30);
}

input[type=submit] {
    background-color: rgb(30, 90, 30);
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 25px;
}

input[type=submit]:focus {
    outline: 3px solid rgb(12, 50, 12);
}

form {
    margin-top: 3%;
}

section:last-of-type {
    padding: 0 5%;
    display: flex;
    grid-area: 1 / 3 / 3 / 5;
    margin: auto;
    background-color: rgb(30, 90, 30);
    color: white;
}

article {
    width: 100%;
    padding: 5%;
    border-radius: 5px;
    font-size: larger;
}

article a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

article a:hover {
    outline: 3px solid rgb(177, 226, 177);
}

p {
    font-size: large;
}

main.hidden {
    display: none;
}

body {
    margin: 0;
}

.container {
    background-color:green;
    position: relative;
    inset: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container .rain {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.503);
}

.container .rain .raindrop {
    position: absolute;
    width: 10px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    animation: rain-fall 1s linear infinite both;
}

.container .rain .raindrop:nth-child(1) {
    left: 5%;
    animation-delay: 1s;
}

.container .rain .raindrop:nth-of-type(2) {
    left: 15%;
    animation-delay: 0.6s;
}

.container .rain .raindrop:nth-of-type(3) {
    left: 25%;
    animation-delay: 0.4s;
}

.container .rain .raindrop:nth-of-type(4) {
    left: 35%;
    animation-delay: 1.8s;
}

.container .rain .raindrop:nth-of-type(5) {
    left: 45%;
    animation-delay: 0.2s;
}

.container .rain .raindrop:nth-of-type(6) {
    left: 55%;
    animation-delay: 1.2s;
}

.container .rain .raindrop:nth-of-type(7) {
    left: 65%;
    animation-delay: 0.4s;
}

.container .rain .raindrop:nth-of-type(8) {
    left: 75%;
    animation-delay: 1.6s;
}

.container .rain .raindrop:nth-of-type(9) {
    left: 85%;
    animation-delay: 0.8s;
}

.container .rain .raindrop:nth-of-type(10) {
    left: 95%;
    animation-delay: 1.6s;
}

@keyframes rain-fall {
    0% {
        top: -10%;
        opacity: 100%;
    }

    80% {
        opacity: 100%;
    }

    100% {
        top: 100%;
        opacity: 0%;
    }
}